<!DOCTYPE html>
<html lang="ko">
<%- include('../include/include.ejs',{title:"관리자페이지"}) %>
<link rel="stylesheet" href="/static/css/admin/course.css">
<body>
    <%- include('../include/header.ejs') %>
    <script src="/static/js/admin/course.js"></script>
    
</body>
</html>