<!doctype html>
<html lang="en">
    <%-include("include/include", {title: "404 Page"})%>
    <style>
        body {
            background-color: #6FC274;
        }

        .container {
            text-align: center;
            margin-top: 200px;
        }

        p {
            font-size: 60px;
            font-weight: bold;
            margin: 20px 0;
        }

        span {
            font-size: 40px;
        }
    </style>
    <body>
        <div class="container">
            <div>
                <p>
                    <img src="/static/images/404.png" alt="404 image" width="400"/>
                </p>
            </div>
            <div>
                <p>
                </p>
                <p>404 page</p>
                <span>Page not Found</span>
            </div>
        </div>
    </body>
</html>
