<!doctype HTML5>
<html lang="ko">
    <%-include("include/include", {title: "404 Page"})%>
    <link rel="stylesheet" href="/static/css/404.css">
    <body>
        <div class="container">
            <div>
                <p>
                    <img src="/static/images/404.png" alt="404 image" width="400"/>
                </p>
            </div>
            <div>
                <p>
                </p>
                <p>404 page</p>
                <span>Page not Found</span>
                <br>
                <div class="home">
                    <a href="/">HOME</a>
                </div>
            </div>
        </div>
    </body>
</html>
