<!doctype html>
<html lang="en">
    <style>
        .wrapper {
            display: flex;
            flex-direction: column;
        }

        .headerContainer {
            border-bottom: 1px solid gray;
            padding-bottom: 5px;
        }

        .menuList {
            display: flex;
            gap: 15px;
        }

        .aTag {
            display: flex;
            align-items: end;
            gap: 12px;
        }

        .aTag,
        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        .bodyContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .sidebarContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 1px solid black;
            border-radius: 5px;
            width: 100px;
            height: 200px;
        }

        .topContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .tabContainer {
            width: 100%;
            height: 350px;
        }

        .tabContainer .buttonContainer {
            height: 15%;
        }

        .tabContainer .buttonContainer button {
            width: 25%;
            height: 100%;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px;
            background-color: #eee;
        }

        .tabContainer .buttonContainer button:hover {
            background-color: #d7d4d4;
        }

        .tabContainer .tabPanel {
            border: 1px solid red;
            height: 85%;
            background-color: gray;
            color: black;
            box-sizing: border-box;
            display: none;
        }

        .checkboxAll {
            display: flex;
        }

        .allUserTable,
        .standbyUserTable {
            display: flex;
            border: 1px solid black;
            background-color: lightgray;
            text-align: center;
            justify-content: center;
            gap: 50px;
        }
    </style>

    <body>
        <div class=".wrapper">
            <div class="headerContainer">
                <div class="menuList">
                    <a href="/user">
                        <img
                        src="/static/images/logo&title.png"
                        alt="sesachub image"
                        style="width: 80px; height: 80px"
                        />
                    </a>
                    <div class="aTag">
                        <a href="/reservation">예약하기</a>
                        <a href="/board">커뮤니티</a>
                    </div>
                </div>
            </div>
    </body>
</html>
