<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="myPage.css" />
    <style>
      .headerContainer {
        border-bottom: 1px solid gray;
        padding-bottom: 5px;
      }

      .menuList {
        display: flex;
        gap: 15px;
      }

      .aTag {
        display: flex;
        align-items: end;
        gap: 12px;
      }

      .aTag,
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class=".wrapper">
      <div class="headerContainer">
        <div class="menuList">
          <img src="" alt="sesachub image" style="width: 80px; height: 80px" />
          <div class="aTag">
            <a href="">예약하기</a>
            <a href="/board">커뮤니티</a>
          </div>
        </div>
      </div>
    </div>
    <script src="myPage.js"></script>
  </body>
</html>
