<!doctype html>
<html lang="en">
<link rel="stylesheet" href="/static/css/header.css">
    <body>
        <div class=".wrapper">
            <div class="headerContainer">
                <div class="menuList">
                    <%if(session && session.u_id){%>
                        <a href="/reservation">
                    <%} else {%>
                        <a href="/user">
                    <%}%>
                            <img
                            src="/static/images/logo&title.png"
                            alt="sesachub image"
                            style="width: 80px; height: 80px"
                            />
                        </a>
                        <div class="aTag">
                            <a href="/reservation">예약하기</a>
                            <a href="/board">커뮤니티</a>
                        </div>
                </div>
                <div class="logout">
                     <%if(session && session.u_id) {%>
                        <button type="button" class="mypage-btn">마이페이지</button>
                        <button type="button" class="logout-btn">로그아웃</button>
                     <%} else {%>
                        <button type="button" class="login-btn">로그인 &nbsp; | &nbsp; 회원가입</button>
                     <%}%>
                </div>
            </div>
            <script src="/static/js/header.js"></script>
    </body>
</html>
