<!doctype html>
<html lang="en">
    <style>
        
        .wrapper {
            display: flex;
            flex-direction: column;
        }
        
        .headerContainer {
           background-color: #E7FFE8;
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
        }

        .menuList {
            display: flex;
            margin-left: 15rem;
            gap: 30px;
        }

        .aTag {
            display: flex;
            align-items: end;
            gap: 15px;
            margin-bottom: 5px;
        }

        .aTag,
        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        .logout {
            display: flex;
            align-items: end;
            margin-right: 15rem;
            
        }

        .logout button {
            border: none;
            background-color: #6FC274;
            color: white;
            border-radius: 5px;
            font-weight: 700;
            padding: 8px;
            cursor: pointer;
        }


    </style>

    <body>
        <div class=".wrapper">
            <div class="headerContainer">
                <div class="menuList">
                        <a href="/user">
                            <img
                            src="/static/images/logo&title.png"
                            alt="sesachub image"
                            style="width: 80px; height: 80px"
                            />
                        </a>
                        <div class="aTag">
                            <a href="/reservation">예약하기</a>
                            <a href="/board">커뮤니티</a>
                        </div>
                </div>
                <div class="logout">
                    <%if(session && session.u_id) {%>
                    <button type="button" onclick="logout()">로그아웃</button>
                    <%}%>
                </div>
            </div>
            <script src="/static/js/logout.js"></script>
    </body>
</html>
