<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="[SeSACH Hub] "ì²­ë…„ì·¨ì—…ì‚¬ê´€í•™êµ ë„ë´‰ìº í¼ìŠ¤"ì˜ ê³µê°„ ì˜ˆì•½ ë° ì „ìš© ì»¤ë®¤ë‹ˆí‹° ì„œë¹„ìŠ¤">
    <link rel="shortcut icon" href="/static/images/logo.png" />
    <meta name="keywords" content="SeSAC, SeSAC Hub, sesachub, ì²­ë…„ì·¨ì—…ì‚¬ê´€í•™êµ, ì²­ë…„ì·¨ì—…ì‚¬ê´€í•™êµ ë„ë´‰ìº í¼ìŠ¤, ê³µê°„ ì˜ˆì•½, ì»¤ë®¤ë‹ˆí‹°, SBA, ì½”ë”©ì˜¨ codingon">
    <meta name="author" content="1ë²ˆ ì¶œêµ¬" />

    <!-- open graph -->
    <meta property="og:url" content="https://http://115.85.183.123:8080/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SeSAC Hub" />
    <meta property="og:description" content="ðŸŒ± <SeSAC Hub>ë¥¼ í†µí•´ "ì²­ë…„ì·¨ì—…ì‚¬ê´€í•™êµ ë„ë´‰ìº í¼ìŠ¤"ì˜ ê³µê°„ ì˜ˆì•½ ë° ì „ìš© ì»¤ë®¤ë‹ˆí‹° ì„œë¹„ìŠ¤ë¥¼ ì´ìš©í•´ë³´ì„¸ìš” ðŸŒ±" />
    <meta property="og:image" content="./script/images/logo&title.png" />

    <title>SeSAC Hub | <%=title%></title>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- XEIcon CDN -->
    <link rel="stylesheet" href="/static/css/XEIcon-2.2.0/xeicon.min.css" />
</head>
