<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/images/logo.png" />
    <title>SeSAC Hub | <%=title%>
    </title>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- XEIcon CDN -->
    <link rel="stylesheet" href="/static/css/XEIcon-2.2.0/xeicon.min.css">
</head>