<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
        name="description"
        content='[SeSAC Hub] "청년취업사관학교 도봉캠퍼스"의 공간 예약 및 전용 커뮤니티 서비스'
    />
    <link rel="shortcut icon" href="/static/images/logo.png" />
    <meta
        name="keywords"
        content="SeSAC, SeSAC Hub, sesachub, 청년취업사관학교, 청년취업사관학교 도봉캠퍼스, 공간 예약, 커뮤니티, SBA, 코딩온, codingon"
    />
    <meta name="author" content="1번 출구" />

    <!-- open graph -->
    <meta property="og:url" content="https://http://115.85.183.123:8080/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SeSAC Hub" />
    <meta
        property="og:description"
        content='"청년취업사관학교 도봉캠퍼스"의 공간 예약 및 전용 커뮤니티 서비스'
    />
    <meta property="og:image" content="/script/images/logo&title.png" />

    <title>SeSAC Hub | <%=title%></title>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- XEIcon CDN -->
    <link rel="stylesheet" href="/static/css/XEIcon-2.2.0/xeicon.min.css" />
</head>
