<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="/static/css/sideBar.css" />
    <body>
        <div class="section1Container">
            <div class="sidebarContainer">
                <a href="">내 정보 확인</a>
                <a href="">예약 관리</a>
                <a href="">게시글 관리</a>
                <a href="">회원 탈회</a>
            </div>
        </div>
    </body>
</html>
