<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="/static/css/sideBar.css" />
    <body>
        <div class="section1_container">
            <div class="sidebar_container">
                <a href="/profile/confirmation">예약 관리</a>
                <a href="/profile/posting">게시글 관리</a>
                <a href="/profile">내 정보 확인</a>
                <a href="/profile/deleteAccount">회원 탈회</a>
            </div>
        </div>
        <script>
            const currentLocation = location.href;
            const menuItem = document.querySelectorAll(".sidebar_container a");
            const menuLength = menuItem.length;

            for (let i = 0; i < menuLength; i++) {
                if (menuItem[i].href === currentLocation) {
                    menuItem[i].className = "active";
                }
            }
        </script>
    </body>
</html>
