#member-content{
    margin: 50px;
}
 h2 {
font-size: 50px;
}
.permissionBtn{
    color: white;
border: none;
border-radius: 15px;
background: #6fc274;
margin-bottom: 10px;
font-size: 15px;
}
    #member-table {
    border-collapse: collapse;
}
#member-table th, #member-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#member-table th {
    background-color: #f2f2f2;
}

#member-table tr:hover {
    background-color: #ddd;
}