body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.headerContainer {
    background-color: #e7ffe8;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.menuList {
    display: flex;
    margin-left: 15rem;
    gap: 30px;
}

.aTag {
    display: flex;
    align-items: end;
    gap: 15px;
    margin-bottom: 5px;
}

.aTag,
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logout {
    display: flex;
    align-items: end;
    margin-right: 15rem;
    gap: 6px;
}

.logout button {
    border: none;
    background-color: #6fc274;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    padding: 8px;
    cursor: pointer;
}

/* 드롭다운 컨텐츠(링크) 스타일링 */
.dropdown-content {
    display: none;
    position: absolute;
    /* z-index: 1; */
}

/* 드롭다운 내용(링크) 호버 시 스타일링 */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* 드롭다운 버튼 클릭 시 드롭다운 내용 보이게 함 */
.show {
    display: block;
}
.dropdown-content #drop-item {
    margin-top: 10px;
    width: 94px;
}
