@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poor+Story&family=Stylish&display=swap");

body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white; /* 헤더 배경색 지정 */
    padding: 10px; /* 상하좌우 패딩 추가 */
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.headerContainer .logout button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: black;
}
.menuList,
.logout {
    display: flex;
    align-items: center;
}

.menuList .aTag {
    margin-left: 20px; /* 예약하기, 커뮤니티 간의 간격 조정 */
}

.menuList .aTag a,
.logout button {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 20px; /* 버튼들 사이의 간격 조정 */
    transition: background-color 0.6s ease;
}
.menuList .aTag a:hover {
    color: #6fc274;
}
.logout button {
    border: none;
    background-color: #6fc274;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    padding: 8px;
    cursor: pointer;
}

/* 드롭다운 컨텐츠(링크) 스타일링 */
.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content button {
    transition: background-color 0.6s ease;
}
/* 드롭다운 내용(링크) 호버 시 스타일링 */
.dropdown-content button:hover {
    background-color: #ddd;
}

/* 드롭다운 버튼 클릭 시 드롭다운 내용 보이게 함 */
.show {
    display: block;
}
.dropdown-content #drop-item {
    margin-top: 10px;
    width: 94px;
}
