@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+KR:wght@100..900&family=Poor+Story&family=Stylish&display=swap");
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 자동으로 반복되는 그리드 설정 */
    gap: 10px; /* 그리드 아이템 사이의 간격 설정 */
    overflow: hidden; /* 그리드 컨테이너를 벗어나는 내용을 숨김 */
    height: 500px;
}

.grid-item {
    position: relative;
    overflow: hidden; /* 이미지가 그리드 아이템을 벗어나는 부분을 숨김 */
}

.grid-item img {
    width: 100%;
    height: 100%; /* 이미지가 그리드 아이템에 가득 차도록 설정 */
    object-fit: cover; /* 이미지를 비율유지하면서 그리드 아이템에 가득 채움 */
    transition: filter 0.5s ease-in-out; /* 마우스 호버 효과를 부드럽게 만들기 위한 transition 효과 */
}

.grid-item:hover img {
    cursor: pointer;
    filter: brightness(60%); /* 마우스 호버시 이미지의 밝기를 줄여 어둡게 만듦 */
}

/* 이미지를 랜덤하게 배치 */
.grid-item:nth-child(odd) {
    grid-row: span 2; /* 홀수 번째 이미지는 2개의 그리드 로우에 걸쳐 배치 */
}

.grid-item:nth-child(2n + 1) {
    grid-column: span 2; /* 홀수 번째 이미지는 2개의 그리드 컬럼에 걸쳐 배치 */
}
.main-content {
    padding: 50px;
}
/* 이미지 컨테이너 스타일 */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 이미지 스타일 */
.image-container img {
    height: 100px;
    margin-top: 50px;
}

/* 저작권 정보 스타일 */
footer p {
    text-align: center; /* 가운데 정렬 */
    margin: 10px;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer_container {
    padding: 30px;
}
.footer_container h1 ,P{
    font-family: "Courgette", cursive;
    margin-top: 100px;
}
footer .copyright p {
    font-weight: bold;
    background-color: gainsboro;
}
footer .footer_container .image-container a {
    text-decoration: none;
    color: black;
}
