:root {
    --primary-color: #6fc274;
    --text-color: #1d1d1d;
    --bg-color: #f1f1fb;
}

html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #fff;
}

.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.wrapper {
    margin-left: 25%;
}

.title {
    display: flex;
    justify-content: start;
    font-size: 25px;
    font-weight: 700;
}

.choice_day {
    margin-top: 80px;
    margin-bottom: 5px;
}

/* 달력 */
.calendar {
    width: 100%;
    max-width: 600px;
    padding: 30px 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.calendar .header .month {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
}

.calendar .header .btns {
    display: flex;
    gap: 10px;
}

.calendar .header .btns .btn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
}

.calendar .header .btns .btn:hover {
    background-color: #a1c9a5;
    transform: scale(1.05);
}

.weekdays {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.weekdays .day {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.days .day {
    width: calc(100% / 7 - 10px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    background-color: #fff;
    transition: all 0.3s;
}

.days .day:not(.prev):not(.next):hover {
    color: #fff;
    background-color: var(--primary-color);
    transform: scale(1.05);
    cursor: pointer;
}

.days .day.today {
    color: #fff;
    background-color: var(--primary-color);
}

.days .day.prev,
.days .day.next {
    color: #ccc;
}

/* 공간 선택 */
.st_room {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 60px;
}

.st_room label {
    cursor: pointer;
    font-size: 20px;
}

input[type="radio"] {
    cursor: pointer;
    accent-color: var(--primary-color);
}

/* 시간 선택 */
.time_wrapper {
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
}

.time_wrapper > * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 80px;
    background-color: #e7ffe8;
    border-collapse: collapse;
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    cursor: pointer;
}

.time_wrapper > *:last-child {
    border-right: 2px solid var(--text-color);
}

.selected_time {
    color: #fff;
    background-color: var(--primary-color);
}

.time_wrapper .disabled {
    /* 예약 있는 경우 시간 div 비활성화*/
    opacity: 0.5;
    background-color: var(--bg-color);
    pointer-events: none;
}

.no_session {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 700;
}

/* 인원 */
.count_select select {
    padding: 10px 25px;
    margin-bottom: 60px;
}

/* 예약 확인 */
.reservation_result {
    width: 1040px;
    height: 200px;
    margin-bottom: 60px;
    border: 1px solid var(--text-color);
}

/* 예약하기 버튼 */
.reservation_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.reservation_btn button {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}
