:root {
    --primary-color: #6fc274;
    --text-color: #1d1d1d;
    --bg-color: #f1f1fb;
    --error-color: #e74c3c;
}

html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

.login_inner_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 41px;
}

.tab_container .tab_panel {
    display: none;
}

.log_re_btn_container {
    width: 552px;
    display: flex;
    justify-content: center;
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.log_re_button {
    border: 0.1px solid #dcdcdc;
    border-bottom: none;
    background: none;
    outline: none;
    width: 50%;
    height: 50px;
    cursor: pointer;
}

.button_log {
    border-right: none;
}

.login_inner_wrapper .log_re_btn_container button:hover {
    background-color: #dcdcdc;
}

.login_container {
    border: 1px solid #dcdcdc;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    width: 550px;
    height: 650px;
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 33px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 50px;
}

.input_button {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    gap: 25px;
}

.input_wrapper {
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    /* height: 99px; */
    margin-bottom: 35px;
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.input_container {
    border: 1px solid #dcdcdc;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 350px;
    height: 55px;
}

.register_input_container {
    border: 1px solid #dcdcdc;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 350px;
    height: 35px;
}

.id_input {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pw_input {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.register_image {
    height: 70px;
}

.input {
    border: none;
    width: 237px;
    height: 20px;
}
input::placeholder {
    color: #c0c0c0;
    font-size: 14px;
}

.input:focus {
    outline-style: none;
    box-shadow: none;
}

.login_re_button {
    width: 351px;
    height: 48px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    border: none;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
}

.login_re_buttons:hover {
    transition: all 0.15s;
    transform: scale(1.02);
}

.options {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 10px;
    color: #b1afaf;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 14px;
    text-decoration: underline;
}

/*          */
/* register */
/*          */

.register_container {
    border: 1px solid #dcdcdc;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    width: 550px;
    height: 110%;
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sign_up_form {
    padding: 30px 40px;
}

.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.register_input {
    display: flex;
    flex-direction: column;
    height: 108px;
}

.register_input label {
    /* color: #777; */
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.register_input input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 460px;
    padding: 10px;
    font-size: 14px;
    /* margin: 5px 0; */
}

.register_input input {
    position: relative;
    top: 11px;
}

.register_input small {
    position: relative;
    top: 18px;
}

.dup_area_input {
    height: 107px;
}

.dup_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.duplicate_check {
    display: flex;
    height: 108px;
}

.pre_check {
    position: relative;
    top: 35px;
    height: 39px;
}

.duplicate_check button {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    height: 40px;
}

.duplicate_check button.checked {
    pointer-events: none;
    background-color: #ccc;
}

.register_input input:focus {
    outline: 0;
    border-color: #777;
}

.register_input.success input {
    border-color: var(--primary-color);
}

.register_input.error input {
    border-color: var(--error-color);
}

.register_input small {
    color: var(--error-color);
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.register_input.error small {
    visibility: visible;
}

.register_input #cs_id {
    padding: 11px 0;
    margin: 5px 0;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    color: #505050;
}

.login_re_buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

/*       */
/* icons */
/*       */
.circleContainer {
    position: relative;
    height: 23px;
    width: 23px;
}

/*passwork icon*/
.circle {
    width: 6px;
    height: 6px;
    border: 1.5px solid #c0c0c0;
    border-radius: 50%;
    transform: translate(7px, 4px);
}

.halfCircle {
    width: 12px;
    height: 3px;
    border: 1.5px solid #c0c0c0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    border-bottom: none;
    transform: translate(4px, 5px);
}

/*lock icon*/
.halfUCircle {
    width: 3px;
    height: 5px;
    border: 1.5px solid #c0c0c0;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    border-bottom: none;
    transform: translate(8.5px, 3px);
}

.lockCircle {
    width: 10px;
    height: 10px;
    border: 1.5px solid #c0c0c0;
    border-radius: 50%;
    transform: translate(5px, 2px);
}

.dot {
    width: 2px;
    height: 2px;
    background: #c0c0c0;
    border-radius: 50%;
    /* position: absolute; */
    transform: translate(10px, -7.4px);
}

.verticalLine {
    width: 1px;
    height: 4px;
    /* position: absolute; */
    background-color: #c0c0c0;
    transform: translate(10.4px, -8px);
}
