.section1_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    width: 120px;
    height: 200px;
    padding-top: 35px;
}

.sidebar_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    width: 100px;
    background-color: RGB(239, 248, 239);
    padding: 20px 10px;
}

.sidebar_container a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 9px;
}

.sidebar_container a.active {
    color: #6fc274;
}
