.reserve_list {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
}

.reserve_list th,
.reserve_list td {
    border: 1px solid #ddd;
    padding: 8px;
}

.reserve_list th {
    background-color: #f2f2f2;
}

.reserve_list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.reserve_list tr:hover {
    background-color: #ddd;
}

.reserve_item {
    transition: background-color 0.3s ease;
}

.reserve_item:hover {
    background-color: #f0f0f0;
}

.reserve_id,
.user_id,
.reserve_date,
.room,
.time {
    padding: 5px 10px;
}

.reserve_container {
    margin: 50px;
}
:root {
    --primary-color: #6fc274;
    --text-color: #1d1d1d;
    --bg-color: #f1f1fb;
}
.reserve-container {
    display: flex;
}
.reserve-container .calendar,
.reserve_list {
    flex: 1;
    margin: 10px;
}

.calendar {
    width: 100%;
    max-width: 600px;
    padding: 30px 20px;
    margin-bottom: 60px;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.calendar .header .month {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
}

.calendar .header .btns {
    display: flex;
    gap: 10px;
}

.calendar .header .btns .btn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
}

.calendar .header .btns .btn:hover {
    background-color: #a1c9a5;
    transform: scale(1.05);
}

.weekdays {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.weekdays .day {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.days .day {
    width: calc(100% / 7 - 10px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    background-color: #fff;
    transition: all 0.3s;
}

.days .day:not(.prev):not(.next):hover {
    color: #fff;
    background-color: var(--primary-color);
    transform: scale(1.05);
    cursor: pointer;
}

.days .day.today {
    color: #fff;
    background-color: var(--primary-color);
}

.days .day.prev,
.days .day.next {
    color: #ccc;
}

/* 공간 선택 */
.st_room {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
}

.st_room label {
    cursor: pointer;
    font-size: 16px;
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.st_room label:hover {
    background-color: #e0e0e0;
}

.st_room input[type="radio"] {
    display: none;
}

.st_room input[type="radio"]:checked + label {
    background-color: #6fc274;
    color: #fff;
}

input[type="radio"] {
    cursor: pointer;
    accent-color: var(--primary-color);
}
h2 {
    font-size: 50px;
}
.reserve_body button {
    color: white;
    border: none;
    border-radius: 15px;
    background: #6fc274;
    margin-bottom: 10px;
    font-size: 15px;
    margin: 10px;
}
