.permissionBtn a{color: white;}
#member-content {
    margin: 50px;
}
h2 {
    font-size: 50px;
}
.permissionBtn {
    color: white;
    border: none;
    border-radius: 15px;
    background: #6fc274;
    margin-bottom: 10px;
    font-size: 15px;
}
.permissionBtn:hover {
    cursor: pointer;
}
#member-table {
    border-collapse: collapse;
    width: 100%;
}
#member-table th,
#member-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#member-table th {
    background-color: #f2f2f2;
}

#member-table tr:hover {
    background-color: #ddd;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #f0f0f0;
}
.pagination a.active {
    background-color: #6fc274;;
    color: white;
}
.noData{
    text-align: center;
}