.permissionBtn a {
    color: white;
}
#member-content {
    margin: 50px;
}
h2 {
    font-size: 50px;
}
.permissionBtn {
    color: white;
    border: none;
    border-radius: 15px;
    background: #6fc274;
    margin-bottom: 10px;
    font-size: 15px;
    margin: 10px;
}
.permissionBtn:hover {
    cursor: pointer;
}
#member-table {
    border-collapse: collapse;
    width: 100%;
}
tr {
    text-align: center;
}
#member-table th,
#member-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
#member-table td:hover {
    cursor: pointer;
}
#member-table th {
    background-color: #f2f2f2;
}

#member-table tr:hover {
    background-color: #ddd;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #f0f0f0;
}
.pagination a.active {
    background-color: #6fc274;
    color: white;
}
.permissionBtn.active {
    background-color: #194b1c;
}
.noData {
    text-align: center;
}

.reserve_list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user_deleteBtn {
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar select,
.search-bar input[type="text"],
.search-bar button {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar select {
    flex: 1;
    max-width: 150px; /* 원하는 너비로 조정 */
}

.search-bar input[type="text"] {
    flex: 2;
    max-width: 300px; /* 원하는 너비로 조정 */
}

.search-bar button {
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #6fc274;
    color: white;
}

/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 모달은 안 보이도록 설정 */
    position: fixed; /* 화면 상에 고정 */
    z-index: 1; /* 모달이 다른 요소들 위에 나타날 수 있도록 설정 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 모달 내용이 화면 크기를 초과할 경우 스크롤 가능하도록 설정 */
    background-color: rgba(0, 0, 0, 0.4); /* 배경색과 투명도 설정 */
}

/* 모달 내용 스타일 */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 화면 중앙에 위치시키기 위한 여백 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* 모달 최대 너비 설정 */
}
.deleteBtn {
    text-align: end;
}
