<!DOCTYPE html>
<html lang="en">
<%- include('../include/include.ejs', {title:"커뮤니티"}); %>
    <link rel="stylesheet" href="/static/css/board.css">
    <%- include('../include/summer.ejs'); %>
    <body>
        <%- include('../include/header.ejs'); %>
            <div class="container">
                <div class="center">
                    <main role="main">
                        <div class="content board"> <!-- 게시판에만 클래스 board추가 -->
                            <div class="board">
                                <form name="insert_form">
                                    <input type="hidden" name="u_id" value="<%=session.u_id%>">
                                    <div class="table_box no_border">
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:120px;">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">카테고리</th>
                                                    <td>
                                                        <select name="category" class="select_list">
                                                            <option value="free">자유
                                                            </option>
                                                            <option value="study">공부
                                                            </option>
                                                            <option value="employ">취업정보
                                                            </option>
                                                            <option value="qualification">자격증 & 어학</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">제목</th>
                                                    <td class="board_title">
                                                        <input type="text" name="title" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="summernote" name="content">
                                        
                                    </div>
                                    </div>
                                    <div class="btn_wrap">
                                        <a href="javascript:board_insert()" class="btn basic">등록</a>
                                        <a href="/board" class="btn cancle">등록 취소</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <script src="/static/js/board/main.js"></script>
    </body>

</html>