<!DOCTYPE html>
<html lang="en">
<%- include('../include/include.ejs', {title:"커뮤니티"}); %>
    <link rel="stylesheet" href="/static/css/board.css">
    <script src="/static/js/board/main.js"></script>

    <body>
        <%- include('../include/header.ejs'); %>
            <div class="container">
                <div class="center">
                    <main role="main">
                        <div class="content board"> <!-- 게시판에만 클래스 board추가 -->
                            <div id="board">
                                <form name="insert_form">
                                    <input type="hidden" name="u_id" value="<%=session.u_id%>">
                                    <div class="table_box no_border">
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:120px;">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">제목</th>
                                                    <td>
                                                        <input type="text" name="title" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">내용</th>
                                                    <td class="board_content">
                                                        <textarea name="content" rows="30"></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="button" onclick="board_insert()" value="글 작성" />
                                </form>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
    </body>

</html>