<!DOCTYPE html>
<html lang="en">
<%- include('../include/include.ejs', {title:"커뮤니티"}); %>
    <link rel="stylesheet" href="/static/css/board.css">
    <script src="/static/js/board/main.js"></script>

    <body>
        <%- include('../include/header.ejs'); %>
            <div class="container">
                <div class="center">
                    <form name="insert_form">
                        <input type="hidden" name="u_id" value="<%=session.u_id%>">
                        <div>
                            <div>
                                <select name="category">
                                    <option value="free">자유</option>
                                    <option value="study">공부</option>
                                    <option value="employ">취업정보</option>
                                    <option value="qualification">자격증&어학</option>
                                </select>
                            </div>
                            <div>
                                <input type="text" name="title" />
                            </div>
                        </div>
                        <div>
                            <textarea name="content" rows="30"></textarea>
                        </div>
                        <input type="button" onclick="board_insert()" value="글 작성" />
                    </form>
                </div>
            </div>
    </body>

</html>